{% load i18n %}
{% block main %}
<p>{% trans "Hey there, your booking has been created successfully" %}</p>
<p>
    {% trans "Id" %}: {{ booking.pk }}<br />
    {% trans "Type" %}: {{ booking.slottime.booking_type.name }}<br />
    {% trans "Date" %}: {{ booking.slottime.start|date:"l d F Y" }}<br />
    {% trans "Start Time" %}: {{ booking.slottime.start|date:"H:i" }}<br />
    {% trans "End Time" %}: {{ booking.slottime.end|date:"H:i" }}<br />
    {% trans "notes"|capfirst %}: {{ booking.notes }}<br />
    {% trans "telephone"|capfirst %}: {{ booking.telephone }}
</p>
<p>{% trans "Use the link below to view details" %}:</p>
<p><a href="http://{{ request.get_host }}{% url 'bookme:booking_detail' booking.pk %}">http://{{ request.get_host }}{% url 'bookme:booking_detail' booking.pk %}</a></p>
{% endblock %}
