{% extends 'pages/page.html' %}
{% load i18n mezzanine_tags %}

{% block title %}
<div id="bookingtype_title" class="jumbotron">
    <h1>{{ object.title }}</h1>
    {% if object.intro %}
    <div id="bookingtype_intro">
        {% editable object.intro %}
            {{ object.intro|richtext_filters|safe }}
        {% endeditable %}
    </div>
    {% endif %}
    {% url 'nowait:slottime_select' slug=object.slug as slottime_select %}
    <p><a class="btn btn-primary btn-lg" href="{{ slottime_select }}" role="button">
        {% trans "Make your reservation" %} &raquo;</a></p>
</div>
{% endblock %}

{% block main %}
    <div id="bookingtype_informations">
        {% editable object.informations %}
            {{ object.informations|richtext_filters|safe }}
        {% endeditable %}
    </div>
{% endblock %}
