{% extends 'pages/page.html' %}
{% load l10n i18n %}

{% block extra_css %}
    <style>
    .tab-content {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 20px;
    }
    .nav-tabs {
        margin-bottom: 0;
    }
    </style>
{% endblock extra_css %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="active">{{ title }}</li>
{% endblock %}

{% block main %}
    {{ block.super }}
    <ul class="nav nav-tabs nav-justified">
        {% for month, year, slottimes_for_month in slottimes %}
            <li{% if forloop.first %} class="active"{% endif %}>
                <a href="#{% trans month %}" data-toggle="tab">
                    {% trans month as month_local %}{{ month_local|capfirst }}&nbsp;&nbsp;{{ year }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
    {% for month, year, slottimes_for_month in slottimes %}
        <div class="row text-center tab-pane fade{% if forloop.first %} in active{% endif %}" id="{% trans month|lower %}">
        {% for slottime in slottimes_for_month %}
            <div class="col-sm-6 col-md-4">
                <a href="{% url 'nowait:booking_create' slottime.pk %}"
                   id="btn_book_slottime_{{ slottime.pk }}"
                   class="btn btn-primary thumbnail"
                   title="{% trans "Select slot time" %}&nbsp;{% blocktrans with day=slottime.start|date:"l j" from=slottime.start|date:"H:i" to=slottime.end|date:"H:i" %}{{ day }} from {{ from }} to {{ to }}{% endblocktrans %}">
                    {% blocktrans with day=slottime.start|date:"l j" from=slottime.start|date:"H:i" to=slottime.end|date:"H:i" %}
                        {{ day }}&nbsp;from&nbsp;{{ from }}&nbsp;to&nbsp;{{ to }}
                    {% endblocktrans %}
                </a>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    </div>

{% endblock %}>
